@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter-Regular';
    src: url('./assets/fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter-Medium';
    src: url('./assets/fonts/Inter-Medium.ttf');
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url('./assets/fonts/Inter-SemiBold.ttf');
}

@font-face {
    font-family: 'FuturaPT-Book';
    src: url('./assets/fonts/FuturaPT-Book.ttf');
}

@layer components {
    .container {
        width: 1520px;
        margin: 0 auto;
    }

    .hide-arrows::-webkit-outer-spin-button,.hide-arrows::-webkit-inner-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .liked {
        animation: like-animation 0.5s ease-in-out;
    }

    @keyframes like-animation {
        100% {
            transform: scale(1.4);
        }
    } 
}